<%-include("./layout/header");%>
<div style="background-color: #c3bebe; padding:20px" class="container-fluid">
    <div style="background-color: #fff; border-radius: 10px; padding:20px" class="container">
        <div style="padding-left: 10px; padding-right: 10px" class="container">
            <h2 style="color: red;">Error 401</h2>
            <h3>You it is not authenticated or you are not authorized for see this content.</h3>
        </div>
    </div>
</div>
<%-include("./layout/footer");%>