<%-include("../layout/header");%>
<div style="background-color: #c3bebe; padding:20px" class="container-fluid">
    <div style="background-color: #fff; border-radius: 10px; padding:20px" class="container">
        <br>
            <% if (error=='') { %>
                <%} else { %>
                    <div id="div-msg-warning" class="alert alert-danger">
                        <%=error %>
                    </div>
            <% } %>
              <div class="col-md-6 offset-md-3">
                <hr>
                <h3>ENTRAR</h3>
                <hr>
              <form action="/user/login" method="POST" enctype="application/x-www-form-urlencoded">
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input name="email" required max-length="60" type="email" id="form1Example1" class="form-control" />
                  <label class="form-label" for="form1Example1">E-mail</label>
                </div>
              
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input name="password" required max-length="20" type="password" id="form1Example2" class="form-control" />
                  <label class="form-label" for="form1Example2">Senha</label>
                </div>
              
                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                  <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                      <label class="form-check-label" for="form1Example3"> Lembrar dados de Login </label>
                    </div>
                  </div>
              
                  <div class="col">
                    <!-- Simple link -->
                    <a href="#!">Esqueceu sua senha?</a>
                  </div>
                </div>
              
                <!-- Submit button -->
                <button type="submit" class="btn btn-success btn-block">Login</button>
              </form>
            </div>
            </div>
        </div>
    </div>
</div>
<%-include("../layout/footer");%>